
.addBtn {background-color:tomato;
    text-align: center;
    text-decoration: none;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: large;
    border-radius: 5px;
    font-weight: bold;}
    